.app-container {
min-height: 100vh;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}


.card {
  background-color: white;
  width: 250px;
  padding: 24px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
}

.image-container {
  background-color: #e5e5e5;
  padding: 16px;
  margin-bottom: 16px;
}

.profile-image {
  width: 130px;
  height: 130px;
  object-fit: cover;
}

.name {
  font-size: 22px;
  font-weight: 600;
  margin: 10px 0 5px 0;
}

.class {
  font-size: 18px;
  margin: 5px 0;
}

.hobbies {
  font-style: italic;
  color: #555;
  margin-top: 10px;
}
